[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: ica-clean-profiles
name: ica-clean-profiles
description: Clean out all old student account profiles.
advice: The powershell script can be generated using the cleanprofiles program.

version: 1.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: password_share
multivalue: False
editable: True
description: The password used to access the network share.
values: [""]
default: [""]

[ProductProperty]
type: unicode
name: file_name
multivalue: False
editable: True
description: Name of the script file saved on the network share.
values: [""]
default: ["CleanStudentProfiles.ps1"]

[ProductProperty]
type: unicode
name: share_username
multivalue: False
editable: True
description: Username to access the network share.
values: [""]
default: [""]

[ProductProperty]
type: unicode
name: share_name
multivalue: False
editable: True
description: Network share used to store profile cleaning script
values: [""]
default: ["\\\\server\\opsi_images"]

[Changelog]
ica-clean-profiles (1.0-1) stable; urgency=low

Project created with opsi Package Builder 8.4.4

 -- John Kuras <jkuras@islandchristianacademy.com>  Mon, 17 Aug 2020 10:48:01 +0000